@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

:root {
  --border-color: rgba(0, 0, 0, 0.2);
}

button,
select {
  cursor: pointer;
  outline: 0;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
